<section class="sponsors" id="sponsors">
  <div class="separator">
    <h2><a href="#sponsors" class="scrolly-link">Sponsors</h2></a>
  </div>
  <div class="content">
    <div class="gold">
      <h5>Gold Sponsors</h5>
      <!-- Special casing the bloomberg logo for padding -->
        <div><a href="https://bloomberg.com" ><img src="/img/sponsors/bloomberg.png" class="bloomberg" /></a></div>
      {{#each sponsors.gold}}
        <div><a href="{{link}}"><img src="{{img}}" /></a></div>
      {{/each}}
    </div>
    <div class="silver">
      <h5>Silver Sponsors</h5>
      {{#each sponsors.silver}}
        <div><a href="{{link}}"><img src="{{img}}" /></a></div>
      {{/each}}
        <!-- Special casing the facebook logo for padding -->
        <div><a href="https://facebook.com/careers"><img src="/img/sponsors/facebook.jpg" class="facebook" /></a></div>
    </div>
    <div class="bronze">
      <h5>Bronze Sponsors</h5>
      {{#each sponsors.bronze}}
        <div><a href="{{link}}"><img src="{{img}}" /></a></div>
      {{/each}}
      <!-- Special casing the rough draft logo for sizing -->
        <div class="rdv"><a href="https://roughdraft.vc"><img src="/img/sponsors/rdv.png"></a></div>
    </div>
    <div class="partner">
      <h5>Partners</h5>
      {{#each sponsors.partner}}
        <div><a href="{{link}}"><img src="{{img}}" /></a></div>
      {{/each}}
      <!-- Special casing the columbia engineering logo for sizing -->
        <div class="columbia-eng"><a href="http://engineering.columbia.edu"><img src="/img/sponsors/columbiaengineering.png"></a></div>
    </div>
	</div>
</section>

